.dashboard{
    display: flex;
    padding: 30px;
    flex-direction: column;

    .blog_post {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-card {
        min-height: 300px;
        width: 300px;
        box-shadow: 0 0 10px 1px lightgray;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 30px;
    }

    .post_title {
        font-size: 20px;
        font-weight: 700;
    }
}