.footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;

    .privacy-disclaimer-link-container {
        display: flex;
        flex-direction: column;
    }

    .contact-details-container {
        display: flex;
        flex-direction: column;
    }
}