.signup {
    display: grid;
    place-items: center;
    height: 79vh;
    background-color:#e5e4e2;
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100px;
    }

    .formsection {
        margin-bottom: 20px;
    }

    .register-submit-btn {
        background-color: black;
        height: 40px;
        width: 70px;
        border-radius: 4px;
        border: none;
        outline: none;
        color: white;
    }
}